{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "quote-props": "as-needed",
    "printWidth": 160,
    "endOfLine": "auto",
    "arrowParens": "avoid"
}
